* {
    margin: 0;
    padding: 0;
}

/* Beginning of Nav Bar */
nav {
    height: 100px;
    width: 100%;
    background-color: black;
    position: sticky;
    /* background-image: linear-gradient(white, red) */
}

.logo {
    float: left;
    margin: 5px 15px;
}

nav ul {
    margin-top: 20px;
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

nav ul li a {
    color: red;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

/* End of Nav Bar */
/* Start of Hero section */

section {
    margin: 50px;
    height: 1000px;
    background-color: black;
    background-image: url(/img/Laura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.copy-text {
    font-size: larger;
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* column cards section */
.row {
    margin: 100px;
}

.column {
    float: left;
    width: 300px;
    padding: 0 10px;
    align-items: center;
    position: relative;
    margin: 0, auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns
  @media screen and (max-width: 600px) {
.column{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
  } */
.card {
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* End of Hero section */
/* Beginning of Footer section */

footer {
    padding: 3%;
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    color: white;
}

.socialMedia{
    margin-top: 100px;
}

.socialMedia i{
    margin: 0px 10px;
    color: red;
}

.socialMedia i:hover{
    color: white;
}